@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* font-family: 'Beth Ellen', cursive;
font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  /* height:100vh; */
  margin: 0;
  font-family: 'Roboto';
  line-height: auto;
  overflow-x: hidden;
}

button::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

/* Navbar Styling */
nav {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.96);
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}


nav .navbar-brand img {
  max-width: 280px;
  max-height: 280px;
  top: 15px;
  margin-right: 300px;
}

nav .nav-item-1 ul {
  display: flex;
  justify-content: space-between;
  top: 25px;
}

nav .nav-item-1 li {
  list-style-type: none;
  text-decoration: none;
  position:sticky;
}

nav .nav-item-1 li a {
  position: relative;
  top: 10px;
  color: #ffffff;
  padding: 35px;
  font-size: 18px;
  margin: 15px auto;
  text-decoration: none;
} 

nav .nav-item-1 li a:hover {
  color: #EBBA32;
}

nav .nav-item-1 .active{
  color: #EBBA32;
}






/* body styling */
/* landing section styling */
.showcase-content {
 
  margin-top: 50px;
  background: url(../images/bg-pic.jpg) no-repeat center  ;
  width: 100%;
  height: 495px;
  content: "";
  background-size: cover ;
 
  
}
.i-heading{
  font-weight: bold;
  font-size: 55px;
  margin-left: 460px;
  padding-top: 70px;
}
.paragraph{
  margin-left: 540px;
  padding-top: 5px;
  font-size: 20px;
}
.sc-btn{
  padding-top: 5px;
  font-size: 20px;
  border: 1px solid grey;
  background-color:grey;
  color: white;
  box-shadow: #000 1px 1px 1px 1px;
  margin-right: 8px;
 
}
.sc-btn:hover{
  color: white;
  background-color: rgb(54, 51, 51);
  box-shadow: gray 1px 3px 4px 2px;
}
.showcase-content a{
  text-decoration: none;
  
}
#btn-1{
  margin-left: 500px;
}
/* every section heading styling */
.s-heading{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* about me styling */
#about{
  background-color:grey;
  color: white;
  height: 550px;
  
}
.about-section{
  display: flex;
  width: 80%;
  margin-left: 110px;
  background-color:grey;
  color:white;
  font-size: 20px;
  line-height: 1.8em;
  box-shadow:black 2px 8px 5px 2px;
  justify-content: space-around;
}
.about-me{
  flex: 1;
  padding: 15px;
}
.gallery{
  flex: 1;
}
.gallery-img{
  width: 470px;
  height: 400px;
}
/* what I do styling */
.w-heading{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.tech{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
  
}
.tech div{
  background-color:black;
  width: 100px;
  height: 90px;
  text-align: center;
  box-shadow:rgb(85, 83, 83) 1px 2px 0px 1px;
  
}
.tech div:hover{
  background-color:#000;
  width: 105px;
  height: 109px;
  text-align: center;
  
  
}
.tech p{
  color: white;
  font-size: 17px;
}
.tech i{
  color: #EBBA32;
  font-size: 32px;
  
}
.tech i :hover{
  font-size: 35px;
}
.non-tech{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
  
}
.non-tech div{
  background-color:black;
  width: 130px;
  height: 90px;
  text-align: center;
  box-shadow:rgb(85, 83, 83) 1px 2px 0px 1px;
  margin-bottom: 20px;
  
}
.non-tech div:hover{
  width: 140px;
  height: 100px;
  
  
}
.non-tech p{
  color: white;
  font-size: 17px;
}
.non-tech i{
  color: #EBBA32;
  font-size: 32px;
  
}
.non-tech i :hover{
  font-size: 35px;
}
/* testimonial styling */
#testimonial{
  background-color: rgb(17, 16, 16);
  color: white;
  padding-top: 10px;
  height: 400px;
  margin-top: 20px;
}
.testify{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
}
.testify-items img{
  max-width: 120px;
  max-height: 100px;
  border-radius: 50%;
}
.testify-items{
  background-color: black;
  border: #EBBA32 0.5px solid;
  margin-right: 5px;
  width: 300px;
  padding: 9px;
  box-shadow: #EBBA32 2px 8px 5px 3px;
}
/* projects styling */
#projects {
  background-color: white;
  color: black;
  padding-top: 10px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.item-detail img{
  max-width: 260px;
  max-height: 300px;
  box-shadow: #000000 1px 4px 3px 2px;
 
}
.item p{
  background-color: #000;
  color: white;
  text-align: center;
  margin-left: 30px;
}

.items{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.item{
  background-color: white;
  width: 200px;
}
.item-detail{
  font-size: 15px;
  max-width: 300px;
  text-align: center;
}
.item-detail i{
  margin-top: -10px;
  font-size: 25px;
  color: #000;
  
}
.item-detail i:hover{
  font-size: 28px;
  color: #000;
  
}
/* gallery styling */
#gallery{
  background: grey;
  color: white;
}
.mansory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px auto;
  columns: 4;
  
}
 .box img{
  width: 350px;
  max-height: 200px;

}
/* contact form */
#contact{
  background-color: black;
  color: white;
  text-align: center;
}
.contact-form input{
  width: 500px;
  color: white;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px #EBBA32 solid;
  background:black;
  align-self: center;
  padding: 10px;
  outline: none;
}
.contact-form textarea{
  width: 500px;
  height: 100px;
  border: 2px #EBBA32 solid;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  background:black;
  color: white;
  padding: 10px;
  outline: none;
}
.contact-form input:focus{
  border:4px #EBBA32 solid;
}
.contact-form button{
  width: 200px;
  background-color: #EBBA32;
  border: 3px solid #EBBA32;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.contact-form h5{
  padding: 25px;
}

@media(max-width:768px){
  /* showcase styling */
  .showcase-content {
    margin-top: 5px;
    background: url(../images/bg-pic.jpg) no-repeat center  ;
    width: 100%;
    height: 400px;
    content: "";
    background-size: contain ;
   
    
  }
  .i-heading{
    font-weight: bold;
    font-size: 22px;
    margin-left: 161px;
    padding-top: 120px;
  }
  .paragraph{
    margin-left: 165px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .sc-btn{
    padding-top: 2px;
    font-size: 14px;
    margin-right: 4px;
   
  }
  #btn-1{
    margin-left: 120px;
  }
 
  /* about styling */
  #about{
    height: 720px;
  }
  .about-section{
    display: flex;
    width: 80%;
    margin-left: 70px;
    font-size: 16px;
    line-height: 1.6em;
    justify-content: space-evenly;
  }
  .about-me{
    flex: 1;
    padding: 15px;
  }
  .gallery{
    flex: 0.5;
  }
  .gallery-img{
    width: 200px;
    height: 450px;
  }
  /* what-i-do styling */
  .tech{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
  }
  .tech div{
    background-color:black;
    width: 80px;
    height: 100px;
    text-align: center;
    
    
  }
  
  .tech div:hover{
    background-color:#000;
    width: 102px;
    height: 105px;
    text-align: center;
  
    
  }
  .non-tech div{
    background-color:black;
    width: 130px;
    height: 90px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow:rgb(85, 83, 83) 1px 2px 0px 1px;
    
  }
  .non-tech div:hover{
    width: 140px;
    height: 100px;
  }
  /* testimonial */
  .testify-items{
    
    box-shadow:none;
  }
  /* project styling */
  .items{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 100px;
  }
  .item-detail img{
    margin-top: 30px;
   
  }
  /* mansory styling */
  .mansory {
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 40px);
    margin-left: 80px;
    row-gap: 10px;
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
}
  /* contact form */
  .contact-form input{
    width: 300px;
  }
  .contact-form textarea{
    width: 300px;
   
  }
  
}
/* FOOTER */
footer {
  background: #fff;
  color: #000;
  margin-top: -15px;
  border-top: gray 1px dotted
}

.footer-container {
  
  /* margin: auto; */
  max-width: 90%;
  padding: 10px;
  text-align: center;
}



.newsletter h5 {
  color: #EBBA32;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}


.newsletter {
  text-align: center;
  max-width: 70%;
  height: 120px;
  margin-left: 180px;
  margin-top: 30px;
  margin-bottom: 10px;
  box-shadow: #000 1px 1.5px 1.5px 2px;
}

.newsletter input {
  max-width: 70%;
  max-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0px;
  border: #000000 solid 1px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 320px;
  border-radius: 5px 0 0 5px;
}
.subscribe-form{
  margin-top: 20px;
  display: flex;
  
}

.newsletter button {
  color: #e9b21d;
  max-height: 30px;
  margin: 5px 0px;
  padding: 0 3px;
  margin-bottom: 10px;
  background: #000000;
  border-radius: 0 5px 5px 0;
  
 

}
.newsletter button:hover {
  background: #e9b21d;
  color: #000000;
}

/* .follow-us span {
  padding: 13px;
  border-bottom: 1px dotted #333;
} */

.follow-us span i {
  padding: 8px;
  color: black;
  font-size: 22px;
 
  
}

.follow-us span i:hover {
  color: #EBBA32;
}

.follow-us  p {
  padding: 15px;
  margin-top: 5px;
}

/* Responsiveness*/
/* Larger Desktop Size*/
@media (max-width:1440px) {
  .nav-flex {
    display: flex;
    justify-content: space-evenly;
  }

  nav .nav-item-1 a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 27px;
    font-size: 15px;
    margin: 15px auto;
    text-decoration: none;
 }

  
}

/* Desktop Size*/
@media (max-width:1024px) {
  nav .navbar-brand img {
    max-width: 220px;
    max-height: 220px;
    top: 15px;  
    margin-right: 70px;
  }

    /* NAVBAR */
  .nav-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  nav .nav-item-1 a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 0 20px;
    font-size: 13px;
    margin: 15px auto;
    text-decoration: none;
 }

  


  /* FOOTER */
  .footer-container {
    margin: auto;
    max-width: 98%;
    padding: 10px;
    text-align: center;
  }

  

  .footer-container h5 {
    font-size: 17px;
  }

  

  .newsletter input {
    max-width: 60%;
    margin: 5px 5px;
    padding: 5px;
  }

  .follow-us span i {
    font-size: 17px;
  }

  .follow-us p {
    font-size: 13px;
  }
}

/* Tablet Size */
@media (max-width:768px) { 
  /* Navbar */
  nav .navbar-toggler {
    background: #e0b336;
    font-size: 17px;
  }

  .nav-item-1 ul {
    display: flex;
    flex-direction: column;
  }

 .nav-item-1 li {
    padding: 8px;
  }
  .newsletter {
    margin-left: 70px;
  }
  .newsletter input {
    margin-left: 40px;
   
  }
 
}



@media(max-width:320px) {
  nav .navbar-toggler {
    background: #EBBA32;
    font-size: 14px;
  }

  

  nav .navbar-brand img {
    max-width: 150px;
    max-height: 150px;
    top: 15px;  
    margin-right: 70px;
  }

  .main-box {
    width: 280px;
    height: 230px;
    border-radius: 15px;
    background-color: rgba(190,157,14, 0.5);
    margin-bottom: 80px;
  }

  .newsletter input {
  max-width: 100%;
  margin: 5px 5px;
  padding: 5px;
}

.newsletter button {
  background: #EBBA32;
  color: #000000;
  margin: auto;
}
} 