            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
            body {
                font-family: 'Roboto';
                line-height: 1.4;
                margin: 0;
                padding: 0;
            }
            
            .nav-links:visited {
                background-color: rgb(21, 138, 99);
            }
            
            a {
                text-decoration: none;
            }
            
            p {
                margin: 0.75rem;
            }
            
            .i-heading {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 0.75rem;
                line-height: 1.1;
            }
            
            .text-center {
                text-align: center;
            }
            
            .py-1 {
                padding: 1.5rem 0;
            }
            
            .py-2 {
                padding: 2rem 0;
            }
            
            .py-3 {
                padding: 3rem 0;
            }
            
            .s-heading {
                font-size: 2rem;
                margin-bottom: 0.75rem;
                line-height: 1.1;
            }
            
            .paragraph {
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }
            /* button */
            
            .btn {
                margin-top: 20px;
                display: inline-block;
                background-color: turquoise;
                color: whitesmoke;
                font-size: 16px;
                padding: 5px;
                border: none;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                height: 40px;
                width: 180px;
            }
            
            .btn:hover {
                background-color: red;
                font-weight: bold;
            }
            
            .arrow {
                border: solid whitesmoke;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
            }
            
            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            /* navbar */
            /* hamburger menu */
            
            .navbar {
                display: flex;
                background-color: rgb(66, 64, 64);
                position: fixed;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                width: 100%;
                padding: 20px;
            }
            
            .navbar ul li a {
                flex-direction: row;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                color: whitesmoke;
                font-size: 17px;
            }
            
            .navbar ul {
                margin: 8px 0 0 0;
                display: flex;
                list-style: none;
            }
            
            .navbar a:hover {
                background: turquoise;
                color: white;
                border-radius: 5px;
            }
            
            .side-nav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: rgb(66, 64, 64);
                color: whitesmoke;
                opacity: 0.9;
                overflow-x: hidden;
                padding-top: 60px;
                transition: 0.5s ease;
            }
            
            .side-nav a {
                padding: 10px 10px 10px 30px;
                text-decoration: none;
                font-size: 22px;
                color: white;
                display: block;
                transition: 0.3s;
            }
            
            .side-nav a:hover {
                color: turquoise;
            }
            
            .side-nav .btn-close {
                position: absolute;
                top: 0;
                right: 22px;
                font-size: 36px;
                margin-left: 50px;
            }
            /* @media(max-width: 768px) {
                #main-navbar {
                    display: none;
                }
            }
             */
            
            @media(min-width: 768px) {
                .open-slide {
                    display: none;
                }
            }
            
            #testimonial h2 {
                color: rgb(7, 117, 7);
            }
            
            .testify-items:nth-child(3) {
                border: none;
            }
            
            .testify-items {
                padding: 10px;
                margin: 15px;
                border-right: 1px solid grey;
            }
            
            #testimonial {
                font-weight: bold;
            }
            
            .testify {
                display: grid;
                grid-template-columns: repeat(3, auto);
                gap: 2rem;
                margin: 10px;
                text-align: center;
            }
            
            @media(max-width: 768px) {
                .testify {
                    grid-template-columns: repeat(1, auto);
                    gap: 2rem;
                }
                .testify-items {
                    border: 1px solid grey;
                }
                .testify-items:nth-child(3) {
                    border: 1px solid grey;
                }
            }
            /* what i do section */
            
            #what-i-do h2 {
                color: rgb(7, 117, 7);
            }
            
            #what-i-do {
                font-weight: bold;
            }
            
            .what {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 2rem;
                margin: 20px;
                text-align: center;
            }
            
            .fas {
                font-size: 30px;
                color: turquoise;
            }
            /* mansonry grid */
            
            .mansonry {
                width: 1140px;
                margin: 30px auto;
                columns: 4;
                column-gap: 30px;
            }
            
            .mansonry .box {
                width: 100%;
                margin: 0 0 20px;
                padding: 10px;
                background-color: whitesmoke;
                overflow: hidden;
            }
            
            .mansonry .box img {
                max-width: 220px;
            }
            
            .mansonry.box h4 {
                margin: 10px 0 0;
                padding: 0;
                font-size: 18px;
            }
            
            @media(max-width: 1200px) {
                .mansonry {
                    columns: 3;
                    width: calc(100% - 40px);
                    box-sizing: border-box;
                    padding: 20px 20px 20px 0;
                }
            }
            
            @media(max-width: 768px) {
                .mansonry {
                    columns: 2;
                }
            }
            
            @media(max-width: 480px) {
                .mansonry {
                    columns: 1;
                }
            }
            /* showcase */
            
            #showcase {
                background: #333 url(/images/background-img2.jpg) no-repeat center center/cover;
                height: 100vh;
                color: white;
                background-color: rgba(0, 0, 0, 0.8);
            }
            
            #showcase .showcase-content {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 0 2rem;
                /* overlay */
                position: absolute;
                top: 60px;
                left: 0;
                right: 0;
                bottom: 0;
            }
            
            @media(max-width: 768px) {
                #showcase {
                    background: #333 url(/images/background-img2.jpg) no-repeat center center/cover;
                    height: 100vh;
                }
            }
            /* project page */
            
            .container {
                max-width: 1100px;
                margin: auto;
                margin-top: 40px;
                padding: 0 2 rem;
                overflow: hidden;
            }
            
            .item img {
                width: 300px;
            }
            
            .items {
                display: flex;
                flex-wrap: wrap;
                padding: 1rem;
                margin-bottom: 30px;
            }
            
            .img2 {
                height: 160px;
            }
            
            .item a {
                color: gray;
            }
            
            .item {
                flex: 1;
                flex-basis: 500px;
                text-align: center;
                padding: 1rem;
            }
            
            .items :hover {
                height: 220px;
                width: 302px;
            }
            
            @media(max-width: 768px) {
                .container {
                    margin-top: 15px;
                    max-width: 768px;
                }
                .items {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 1rem;
                    margin-bottom: 10px;
                }
            }
            /* about section */
            
            #about {
                max-height: 80vh;
                margin: 5px auto;
                padding: 0 2 rem;
                overflow: hidden;
            }
            
            #about .about-section {
                background-color: #333;
                color: white;
                padding-top: 20px;
                display: flex;
            }
            
            #about div {
                flex: 1;
                align-items: stretch;
            }
            
            .about-me {
                padding: 5px;
            }
            
            .skills {
                list-style: none;
                margin: 0.5rem 0;
            }
            
            .skills li {
                padding: 0.5rem 0;
                border-bottom: #444 dotted 1px;
            }
            
            @media(max-width: 768px) {
                #about {
                    max-height: 120vh;
                    margin: 2px auto;
                    padding: 0 1rem;
                }
                .skills li {
                    padding: 0.1rem 0;
                    border-bottom: #444 dotted 1px;
                }
                .gallery-highlight {
                    width: 80%;
                    height: 30vh;
                }
                .pic-preview {
                    display: flex;
                    width: 80%;
                    flex-wrap: wrap;
                    border: 2px solid #fff;
                }
                .pic-preview img {
                    height: 30px;
                    flex-grow: 1;
                    opacity: 0.6;
                    cursor: pointer;
                    transition: 0.3s ease;
                }
            }
            /* gallery styling */
            
            .gallery {
                width: 70%;
                display: flex;
                margin-top: 5px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 15px;
                color: white;
            }
            
            .gallery-highlight {
                width: 80%;
                height: 40vh;
            }
            
            .pic-preview {
                display: flex;
                width: 80%;
                flex-wrap: wrap;
                border: 2px solid #fff;
            }
            
            .pic-preview img {
                height: 50px;
                flex-grow: 1;
                opacity: 0.6;
                cursor: pointer;
                transition: 0.3s ease;
            }
            
            img.room-active {
                opacity: 1;
            }
            /* contact section */
            
            #contact {
                background: #333;
                color: white;
                font-size: 14px;
                padding: 5px;
                text-align: center;
            }
            /* form */
            
            #contact button {
                background-color: teal;
                color: whitesmoke;
                display: inline-block;
                margin: 0 auto;
                width: 70px;
                padding: 10px;
                border-radius: 10px;
                
            }
            
            #contact button:hover {
                background-color: turquoise;
            }
            
            #contact .contact-form .form-group {
                margin: 0;
            }
            
            #contact .contact-form label {
                display: block;
            }
            
            #contact .contact-form input {
                width: 40%;
                padding: 0.5rem;
            }
            
            #contact .contact-form textarea {
                width: 40%;
                padding: 0.5rem;
            }
            /* footer */
            
            #main-footer {
                background-color: darkslategray;
                color: floralwhite;
                width: 100%;
                height: 12px;
                text-align: center;
                padding: 2em;
                overflow: hidden;
            }
            
            .twitter {
                margin: 0 10px;
                color: rgb(0, 110, 255);
                font-size: 20px;
            }
            
            .instagram {
                margin: 0 10px;
                color: rgb(255, 0, 191);
                font-size: 20px;
            }
            
            .linkedin {
                margin: 0 10px;
                color: rgb(86, 154, 243);
                font-size: 20px;
            }
            
            .github {
                margin: 0 10px;
                color: rgb(255, 123, 0);
                font-size: 20px;
            }
            
            .mail {
                margin: 0 10px;
                color: rgb(240, 232, 232);
                font-size: 20px;
            }
            
            .subscribe-form {
                display: inline;
                font-family: 'Roboto';
            }
            
            .subscribe-form button {
                background-color: white;
                color: rgb(9, 66, 61);
            }
            
            .subscribe-form button:hover {
                background-color: turquoise;
                color: white;
            }
            
            @media(max-width: 768px) {
                #main-footer {
                    width: 100%;
                    height: 80px;
                    text-align: center;
                    padding: 1em;
                    overflow: hidden;
                    font-size: 14px;
                }
                .subscribe-form {
                    display: inline;
                    font-family: 'Roboto';
                }
                .twitter {
                    font-size: 15px;
                }
                .instagram {
                    font-size: 15px;
                }
                .linkedin {
                    font-size: 15px;
                }
                .github {
                    font-size: 15px;
                }
                .mail {
                    font-size: 15px;
                }
            }