    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    s body {
        font-family: 'Roboto' sans-serif;
        line-height: 1.4;
    }
    
    .nav-links:visited {
        background-color: rgb(21, 138, 99);
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        margin: 0.75rem o;
    }
    
    .i-heading {
        font-size: 3rem;
        margin-bottom: 0.75rem;
        line-height: 1.1;
    }
    
    .text-center {
        text-align: center;
    }
    
    .py-1 {
        padding: 1.5rem 0;
    }
    
    .py-2 {
        padding: 2rem 0;
    }
    
    .py-3 {
        padding: 3rem 0;
    }
    
    .s-heading {
        font-size: 2rem;
        margin-bottom: 0.75rem;
        line-height: 1.1;
    }
    
    .paragraph {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        margin: 20px;
    }
    
    .grid-item {
        font-size: 60px;
    }
    
    .html {
        background-color: orangered;
    }
    
    .css {
        background-color: rgb(15, 99, 224);
    }
    
    .data {
        background-color: grey;
    }
    /* button */
    
    .btn {
        margin-top: 30px;
        display: inline-block;
        background-color: turquoise;
        color: whitesmoke;
        font-size: 16px;
        padding: 5px;
        border: none;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        height: 46px;
        width: 120px;
    }
    
    .btn:hover {
        background-color: red;
        font-weight: bold;
    }
    
    .arrow {
        border: solid whitesmoke;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    #navbar {
        display: flex;
        position: sticky;
        top: 0;
        background-color: rgb(66, 64, 64);
        color: whitesmoke;
        justify-content: flex-end;
        z-index: 1;
        padding: 1rem;
    }
    
    #navbar ul {
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    #navbar ul li a {
        color: white;
        padding: 0.85rem;
        margin: o o.25rem;
    }
    
    #navbar ul li a:hover {
        background: turquoise;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    /* showcase */
    
    #showcase {
        background: #333 url(/images/background-img2.jpg) no-repeat center center/cover;
        height: 100vh;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    #showcase .showcase-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 2rem;
        /* overlay */
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    #navbar #home1 a {
        color: red;
    }
    /* project page */
    
    .container {
        max-width: 1100px;
        margin: auto;
        margin-top: 40px;
        padding: 0 2 rem;
        overflow: hidden;
    }
    
    .item img {
        width: 300px;
    }
    
    .items {
        display: flex;
        padding: 1rem;
        align-items: stretch;
        margin-bottom: 30px;
    }
    
    .item3 {
        width: 300px;
        margin-top: 15px;
        border: 2px solid rgb(102, 91, 91);
        background-color: white;
        color: black;
        height: 150px;
    }
    
    .img2 {
        height: 160px;
    }
    
    .item a {
        color: gray;
    }
    
    .item {
        flex: 1;
        flex-basis: 500px;
        text-align: center;
        padding: 1rem;
    }
    
    .items :hover {
        height: 220px;
        width: 302px;
    }
    /* about section */
    
    #about {
        max-height: 80vh;
        margin: 5px auto;
        padding: 0 2 rem;
        overflow: hidden;
    }
    
    #about .about-section {
        background-color: #333;
        color: white;
        padding-top: 20px;
        display: flex;
    }
    
    #about div {
        flex: 1;
        align-items: stretch;
    }
    
    .about-me {
        padding: 5px;
    }
    
    .skills {
        list-style: none;
        margin: 0.5rem 0;
    }
    
    .skills li {
        padding: 0.5rem 0;
        border-bottom: #444 dotted 1px;
    }
    /* gallery styling */
    
    .gallery {
        width: 70%;
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        color: white;
    }
    
    .gallery-highlight {
        width: 80%;
        height: 40vh;
    }
    
    .pic-preview {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        border: 2px solid #fff;
    }
    
    .pic-preview img {
        height: 50px;
        flex-grow: 1;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    img.room-active {
        opacity: 1;
    }
    /* contact section */
    
    #contact {
        background: rgb(135, 197, 141);
        color: white;
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
    /* form */
    
    #contact button {
        background-color: rgb(240, 125, 188);
        color: whitesmoke;
        display: inline-block;
        margin: 0 auto;
        width: 5%;
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    
    #contact button:hover {
        background-color: rgb(214, 20, 85);
    }
    
    #contact .contact-form .form-group {
        margin: 0.75rem;
    }
    
    #contact .contact-form label {
        display: block;
    }
    
    #contact .contact-form input {
        width: 90%;
        padding: 0.5rem;
    }
    
    #contact .contact-form textarea {
        width: 90%;
        padding: 0.5rem;
    }
    /* testimonial */
    
    #testimonial h2 {
        color: rgb(7, 117, 7);
    }
    
    .testify {
        display: grid;
        grid-template-columns: 420px 420px 420px;
        margin: 20px;
        text-align: center;
    }
    
    .testify-items {
        padding: 10px;
        margin: 15px;
        border-right: 1px solid grey;
    }
    /* footer */
    
    #main-footer {
        background-color: darkslategray;
        color: floralwhite;
        width: 100%;
        height: 12px;
        text-align: center;
        padding: 2em;
        overflow: hidden;
    }
    
    .twitter {
        margin: 0 10px;
        color: white;
        font-size: 20px;
    }
    
    .instagram {
        margin: 0 10px;
        color: white;
        font-size: 20px;
    }
    
    .linkedin {
        margin: 0 10px;
        color: white;
        font-size: 20px;
    }
    
    .github {
        margin: 0 10px;
        color: white;
        font-size: 20px;
    }
    
    .mail {
        margin: 0 10px;
        color: white;
        font-size: 20px;
    }